<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472269047477-qac1pvgi3i9lu93sak3bagatho1ek4hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472269047477-qac1pvgi3i9lu93sak3bagatho1ek4hg</string>
	<key>API_KEY</key>
	<string>AIzaSyCp1f_yqfobHJKRed4pKO5Ih1kwjx9vLtE</string>
	<key>GCM_SENDER_ID</key>
	<string>472269047477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asdf</string>
	<key>PROJECT_ID</key>
	<string>testproject-3c1ba</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-3c1ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472269047477:ios:9512f46b6d674d19e360fc</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-3c1ba.firebaseio.com</string>
</dict>
</plist>